.bg-white {
  background-color: #282c34;
}

.Container {
  display: flex;
}

.h-8 {
  height: 3rem;
}

.ClinicName {
  height: 4rem;
  font-size:2rem;
  color-scheme: white;
}

.ClinicName .sr-only {
  color: white;
}